@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body {
  background-color: rgb(254, 112, 249);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #000;
  outline: none;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Quiz{
  width: 550px;
  height: auto;
  min-height: 100px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 13px 16px;
  box-shadow: 8px 8px 37px 0px rgba(0,0,0, .30);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-bar{
  height: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(145, 145, 145);
}

.progress-bar .bar{
  height: 10px;
  background-image: linear-gradient(to right, #ff0000, #ff0039, #ff0060, #ff0086, #ff00aa);
  border-radius: 10px;
  transition: .2s linear;
}

h1{
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 30px;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
  margin: 20px 0;
}

ul li{
  border: 2px solid rgb(3, 181, 181);
  background: darkcyan;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s linear;
}

ul li:hover{
  -webkit-transform: scale(1.033);
  transform: scale(1.033);
  background-color: rgb(4, 181, 181);
}


/*! Result  */
/* <div className='Result'>
<img src="https://cdn-icons-png.flaticon.com/512/4381/4381479.png" alt="firework" />
<h2>You answered  out of 10 questions</h2>
<button>Try again</button>
</div> */

.result{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result img{
  width: 200px;
}

.result h2{
  font-size: 30px;
  color: #000;
  margin-bottom: 20px;
}

.result button{
  font-size: 20px;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  transition: .2s linear;
}

.result button:hover{
  -webkit-transform: scale(1.070);
  transform: scale(1.070);
}


/*! Media screen  */

@media screen and (min-width: 2000px){
  .Quiz{
    width: 800px;
  }
  .result img{
    width: 300px;
  }
  h1{
    font-size: 41px;
  }
  .result h2{
    font-size: 35px;
  }
  ul li{
    font-size: 29px;
  }
  .result button{
    font-size: 35px;
  }
  .progress-bar{
    height: 15px;
  }
  .progress-bar .bar{
    height: 15px;
  }
}

@media screen and (max-width: 570px){
  .Quiz{
    width: 400px;
  }
}

@media screen and (max-width: 440px){
  .Quiz{
    width: 300px;
  }
  h1{
    font-size: 25px;
  }
  .result h2{
    font-size: 23px;
  }
}

@media screen and (max-width: 320px){
  .Quiz{
    width: 190px;
  }
  .result img{
    width: 100px;
  }
  h1{
    font-size: 20px;
  }
  .result h2{
    font-size: 15px;
  }
  ul li{
    font-size: 10px;
  }
}